{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Основной блок с содержимым -->
<div class="main-content-login">
    <div class="login-container">
        <h1>Вход в систему</h1>
        <form action="{% url "user:login" %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Логин</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" style="background-color: var(--random-color);" class="login-button">Войти</button>
        </form>
<!--        <div class="signup-prompt">-->
<!--            Нет аккаунта? <a href="#" style="color: var(&#45;&#45;random-color);" class="signup-link">Создайте аккаунт</a>-->
<!--        </div>-->
    </div>
</div>
{% endblock %}