{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Основной блок с содержимым -->
<div class="main-content-profile">
    <div class="profile-container">
        <div class="user-info">
            <div class="profile-pic">
                {% if user_data.image %}
                <img src="{{ user_data.image.url }}" alt="Фото пользователя"
                     style="width: 100%; height: 100%; border-radius: 10px;">
                {% else %}
                <img src="{% static "deps/images/profile-photo.jpg"%}" alt="Фото пользователя"
                     style="width: 100%; height: 100%; border-radius: 10px;">
                {% endif %}
            </div>

            <div class="user-details">
                <h2>{{ user_data.last_name }} {{ user_data.first_name }} {{ user_data.middle_name }}</h2> <!-- ФИО -->
                {% if user_data.is_student or user_data.is_teacher %}
                <span class="group-number" style="background-color: var(--random-color);">{% if user_data.is_student %}Группа: {{ user_data.group.number }}{% else %}{{ user_data.position}}{% endif %}</span>
                <!-- Номер группы -->
                <span class="status-container">
                    {% if current_lesson %}
                    <p class="status on-lesson">Есть занятие</p> <!-- Статус -->
                    {% else %}
                    <p class="status">Нет занятия</p> <!-- Статус -->
                    {% endif %}
                </span>
                {% endif %}
            </div>
        </div>
        {%if request.user == user_data.user%}
        <h4 align="center">Редактировать профиль</h4>
        {% endif %}
        {% if current_lesson %}
        <!-- Карточка с занятием -->
        <div class="lesson-card">
            <h3>Текущее занятие</h3>
            <p><strong>Название:</strong> {{current_lesson.name}}</p>
            <p><strong>Тип:</strong> {{current_lesson.lesson_type }}</p>
            <p><strong>Время:</strong> {{current_lesson.get_time}}</p>
            <button class="main-button" style="background-color: var(--random-color);"
                    onclick="location.href='{% url "lessons:lesson" current_lesson.id %}'">Перейти к занятию
            </button>
        </div>
        {% endif %}
        <!-- Условие для отображения статуса занятия -->
        <div class="profile-data">
            <h3>Информация</h3>
            <p><strong>Факультет: </strong>{{ user_data.faculty }}</p>
            <p><strong>Кафедра: </strong> {{ user_data.department }}</p>
            {% if user_data.is_student %}
            <p><strong>Специализация: </strong> {{user_data.group.specialization}} ({{ user_data.group.number }})</p>
            <p><strong>Курс: </strong> {{user_data.group.course}} курс</p>
            {% endif %}
        </div>

        <div class="contact-info">
            <h3>Контакты</h3>
            <p><strong>Email: </strong>{{ user_data.email }}</p>


        </div>
    </div>
</div>
{% endblock %}
