{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Основной блок с содержимым -->
<div class="main-content-profile">
    <div class="profile-container">
        <div class="user-info">
            <div class="profile-pic">
                {% if user.image %}
                <img src="{{ user.image.url }}" alt="Фото пользователя"
                     style="width: 100%; height: 100%; border-radius: 10px;">
                {% else %}
                <img src="{% static "deps/images/profile-photo.jpg"%}" alt="Фото пользователя"
                     style="width: 100%; height: 100%; border-radius: 10px;">
                {% endif %}
            </div>

            <div class="user-details">
                <h2>{{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</h2> <!-- ФИО -->
                <span class="group-number" style="background-color: var(--random-color);">Группа: {{ student.group.number }}</span>
                <!-- Номер группы -->
                <span class="status-container">
                    <p class="status on-lesson">На занятии</p> <!-- Статус -->
                </span>
            </div>
        </div>
        {%if request.user == user%}
        <h4 align="center">Редактировать профиль</h4>
        {% endif %}
        <!-- Карточка с занятием -->
        <div class="lesson-card">
            <h3>Текущее занятие</h3>
            <p><strong>Название:</strong> Введение в программирование</p>
            <p><strong>Тип:</strong> Лекция</p>
            <p><strong>Время:</strong> 10:05 - 12:25</p>
            <p><strong>Аудитория:</strong> 612</p>
            <button class="main-button" style="background-color: var(--random-color);"
                    onclick="location.href='lesson.html'">Перейти к занятию
            </button>
        </div>

        <!-- Условие для отображения статуса занятия -->
        <div class="profile-data">
            <h3>Информация</h3>
            <p><strong>Факультет: </strong>{{ student.group.faculty }}</p>
            <p><strong>Кафедра: </strong> {{ student.group.department }}</p>
            <p><strong>Специализация: </strong> {{student.group.specialization}} ({{ student.group.number }})</p>
            <p><strong>Курс: </strong> {{student.group.course}} курс</p>
        </div>

        <div class="contact-info">
            <h3>Контакты</h3>
            <p><strong>Email: </strong>{{ user.email }}</p>


        </div>
    </div>
</div>
{% endblock %}
