{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Основной блок с содержимым -->

<div class="main-content-login">
    <div class="register-container">
        <h1>Регистрация пользователя</h1>
        <form id="register-form" action="{% url 'dashboard:create_teacher' %}" method="post">
            {% csrf_token %}
            <div class="input-group-register">
                    <label for="email">Адрес электронной почты*</label>
                    <input type="email" id="email" name="email" required>
                </div>
            <div class="input-pair">
                <div class="input-group-register">
                    <label for="last_name">Фамилия*</label>
                    <input type="text" id="last_name" name="last_name" required>
                </div>
                <div class="input-group-register">
                    <label for="first_name">Имя*</label>
                    <input type="text" id="first_name" name="first_name" required>
                </div>
            </div>
                <div class="input-group-register">
                    <label for="middle_name">Отчество</label>
                    <input type="text" id="middle_name" name="middle_name">
            </div>
            <div class="input-pair">
                <div class="input-group-register">
                    <label for="faculty">Факультет*</label>
                    <input type="text" id="faculty" name="faculty" required>
                </div>
                <div class="input-group-register">
                    <label for="department">Кафедра*</label>
                    <input type="text" id="department" name="department" required>
                </div>
            </div>
                    <div class="input-group-register">
                    <label for="position">Должность</label>
                    <input type="text" id="position" name="position">
            </div>
            <button type="submit" id="register-button" class="register-button active">Зарегистрировать</button>
        </form>
        {% if messages %}

    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}

{% endif %}
        <div id="validation-message" class="validation-message"></div>
    </div>
</div>
<div align="center" style="margin-bottom:100px">
        <a class="main-button" style="background-color: var(--random-color);" href="{% url "dashboard:index"%}">Вернуться назад</a>
    </div>

<script src="{% static "deps/js/registration.js"%}" defer></script>
{% endblock %}