{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Основной блок с содержимым -->
<div class="main-content">
    <h1 class="main-title">Панель администратора</h1>

    <hr/>

    <!-- Блок с ссылками -->
    <div class="link-block">
        <a href="{% url "dashboard:upload_lessons"%}" class="link-card">
            <h2>Загрузить расписание</h2>
            <p>Загрузите расписание занятий из .xlsx файла.</p>
            <p class="action">Перейти</p>
        </a>
        <a href="{% url "dashboard:create_user"%}" class="link-card">
            <h2>Создать пользователя</h2>
            <p>Предоставьте доступ к платформе новому пользователю, создав аккаунт для него.</p>
            <p class="action">Перейти</p>
        </a>
        <a href="{% url "admin:index"%}" class="link-card">
            <h2>Управлять данными</h2>
            <p>Управляйте данными приложения.</p>
            <p class="action">Перейти</p>
        </a>
    </div>
</div>
{% endblock %}