{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "deps/css/styles.css"%}">
    <script src="{% static "deps/js/script.js"%}" defer></script>
</head>
<body>

<!-- Выезжающее меню -->
<div class="sidebar" id="sidebar">
    <a href="{% url "main:index" %}">Главная</a>
    {% if not user.is_authenticated %}
    <a href="{% url "users:login" %}">Вход</a>
    {% else %}
    <a href="{% url "users:profile" %}">Личный кабинет</a>
    {% endif %}
    <a href="{% url "lessons:schedule"%}">Расписание</a>
    <a href="{% url "groups"%}">Группы</a>
    <a href="teacher.html">Преподаватели</a>
    {% if user.is_admin or user.is_staff %}
    <a href="{% url "admin:index" %}">Админ-панель</a>
    {% endif%}
    {% if user.is_authenticated %}
    <a href="{% url "users:logout" %}">Выход</a>
    {% endif %}
</div>

<!-- Верхняя панель с иконкой меню -->
<div class="header">
    <span class="menu-icon" onclick="toggleMenu()">☰</span>
    {{ title }}
</div>

{% block content %}{% endblock %}

<!-- Футер -->
<div class="footer">
    &copy; 2024 Все права защищены
</div>

</body>
</html>