{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "deps/css/styles.css"%}">
    <script src="{% static "deps/js/script.js"%}" defer></script>
</head>
<body>

<!-- Выезжающее меню -->
<div class="sidebar" id="sidebar">
    <a href="index.html">Главная</a>
    <a href="login.html">Вход</a>
    <a href="profile.html">Личный кабинет</a>
    <a href="schedule.html">Расписание</a>
    <a href="teacher.html">Преподаватели</a>
</div>

<!-- Верхняя панель с иконкой меню -->
<div class="header">
    <span class="menu-icon" onclick="toggleMenu()">☰</span>
    Главная страница
</div>

{% block content %}{% endblock %}

<!-- Футер -->
<div class="footer">
    &copy; 2024 Все права защищены
</div>

</body>
</html>