{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "deps/css/styles.css"%}">
    <script src="{% static "deps/js/script.js"%}" defer></script>
</head>
<body>

<!-- Выезжающее меню -->
<nav class="sidebar" id="sidebar">
    <ul>
        <li><a href="{% url "main:index" %}">Главная</a></li>
        {% if not user.is_authenticated %}
        <li><a href="{% url "users:login" %}">Вход</a></li>
        {% else %}
        <li><a href="{% url "users:profile" %}">Личный кабинет</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li><a href="{% url "lessons:schedule"%}">Расписание</a></li>
        {% endif %}
        <li><a href="{% url "groups"%}">Группы</a></li>
        <li><a href="teacher.html">Преподаватели</a></li>
        {% if user.is_admin or user.is_staff %}
        <li><a href="{% url "dashboard:index" %}">Админ-панель</a></li>
        {% endif%}
        {% if user.is_authenticated %}
        <li><a href="{% url "users:logout" %}">Выход</a></li>
        {% endif %}
    </ul>
</nav>

<!-- Верхняя панель с иконкой меню -->
<header class="header">
    <span class="menu-icon" onclick="toggleMenu()">☰</span>
    {{ title }}
</header>

{% block content %}{% endblock %}

<!-- Футер -->
<div class="footer">
    &copy; 2024 Все права защищены
</div>

</body>
</html>