{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Основной блок с содержимым -->
<div class="main-content">
    <h1 class="main-title">Добро пожаловать{% if user.is_authenticated%}, {{user.first_name}}{%endif%}!</h1>
    <p class="main-description">Это ваша платформа для отслеживания расписания занятий и информации о
        преподавателях.<br>
        Система находится на стадии разработки. Будем рады услышать любую обратную связь!<br>
        <a class="social-links signup-link" href="mailto:email-example@gmail.com">email-example@gmail.com</a>
    </p>

    <!-- Разделение между текстом и карточками -->
    <hr/>

    <!-- Блок с ссылками -->
    <div class="link-block">

        {% if user.is_authenticated %}
        <a href="{% url "lessons:schedule"%}" class="link-card">
            <h2>Расписание</h2>
            <p>Посмотрите расписание занятий на текущую неделю.</p>
            <p class="action">Перейти</p>
        </a>
        {% endif %}
        <a href="{% url "groups" %}" class="link-card">
            <h2>Группы</h2>
            <p>Просмотрите список групп и их расписание.</p>
            <p class="action">Перейти</p>
        </a>
        <a href="#" class="link-card">
            <h2>Преподаватели</h2>
            <p>Узнайте больше о преподавателях и их курсах.</p>
            <p class="action">Перейти</p>
        </a>
    </div>

    <div class="link-block">
        {% if not user.is_authenticated %}
        <a href="{% url "users:login"%}" class="link-card">
        <h2>Вход</h2>
        <p>Перейдите на страницу для входа в личный кабинет.</p>
        <p class="action">Перейти</p>
        </a>
        {% else %}
        <a href="{% url "users:profile"%}" class="link-card">
        <h2>Личный кабинет</h2>
        <p>Здесь вы можете управлять своим профилем и получать информацию.</p>
        <p class="action">Перейти</p>
        </a>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url "users:logout" %}" class="link-card">
        <h2>Выход</h2>
        <p>Выйти из аккаунта.</p>
        <p class="action">Перейти</p>
        </a>
        {% endif %}
        </div>


</div>
{% endblock %}
