{% extends "base.html" %}
{% load static %}

{% block content %}


<!-- Основной блок с карточками расписания -->
<div class="schedule-control">
    <div id="group-notification" class="notification">
        <p class="alert"><h4>Вы просматриваете расписание другой группы!</h4></p>
    </div>
    <div class="group-info">
        <span>Расписание для группы: <strong> {{request.user.group.number}}</strong></span>
    </div>
    <div class="week-info">
        <span>Учебная неделя: <strong id="current-week">1</strong></span>
    </div>

    <div class="week-controls">
        <button id="prev-week" class="btn">Предыдущая неделя</button>
        <button id="current-week-btn" class="btn-current-week disabled">Текущая неделя</button>
        <button id="next-week" class="btn">Следующая неделя</button>
        <input type="number" id="week-input" placeholder="№"/>
        <button id="go-week" class="btn">Перейти</button>
    </div>

</div>


<!-- Основной блок с карточками расписания -->
<!-- Основной блок с карточками расписания -->
<div class="schedule-container" id="schedule-container">
    <!-- Карточки расписания будут динамически добавлены здесь -->
</div>
<script src="{% static "deps/js/schedule.js"%}" defer></script>
{% endblock %}